footer{
  background-color: rgb(55,65,81);
}
.app__footer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
  font-size: 1.8rem;
}
@media screen and (max-width: 650px) {
  .app__footer {
    font-size: 1.5rem;
  }
  footer div svg {
    width: 55px;
    height: 55px;
  }
}
